*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.bar_main{
    height: 80px;
    width: 100%;
    /* background-color: rgb(140, 190, 234); */
    /* background-color: rgba(0, 0, 0, 0.3); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    text-align: center;
    font-size: 33px;
}
.bar:hover{
    color: brown;
}
.bg_main{
    width: 100%;
}
.bg{
    width: 100%;
    height: 400px;
   background-image: url(https://assets.nicepagecdn.com/11a8ddce/2137743/images/pexels-ben-neale-380330.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.gallery_main{
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery{
    width: 100%;
    height: 300px;
    /* border: 2px solid #000; */
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
 
}
.gallery h2{
    margin-top: 20px;
    font-size: 80px;

}
.gallery p{
    letter-spacing: 1px;
    font-weight: 400;
    font-family: serif;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.card_main{
    /* height: 500px; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    /* align-items: center; */
}
.card{
    height: 350px;
    width: 26%;
    margin-bottom: 40px;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Visualize_main{
    height: 700px;
    width: 100%;
    background-image: url(https://assets.nicepagecdn.com/11a8ddce/2137743/images/pexels-toms-monteiro-4107897.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Create{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box1{
    margin-top: 50px;
    margin-left: 30px;
    height: 350px;
    width: 25%;
    border: 2px solid rgb(0, 202, 252);
    background-color: #fff;
    
}
.fa-braille{
    font-size: 40px;
    /* background-color: rgb(53, 201, 166); */
    border: 2px solid #000;
  border-radius: 50%;
  text-align: center;
  padding: 22px;
  margin: 28px;
}


@media screen and (max-width:480px){
    .bg{
        width: 100%;
        height: 300px;
    }
    .gallery_main{
        display: block;
    }
    .gallery h2{
        margin-top: 20px;
        font-size: 30px; 
}
.gallery p{
    letter-spacing: 1px;
    font-weight: 400;
    font-family: serif;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.card_main{
    flex-direction: column;
}
.card{
    height: 300px;
    width: 100%;
}
}